#u100-5
{
	font-family: ubuntu, sans-serif;
	color: #FFFFFF;
	line-height: 36px;
	text-align: left;
	font-weight: 500;
	font-size: 30px;
	background-color: transparent;
}

#u100
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u100-2
{
	font-family: open-sans, sans-serif;
	color: #C1272D;
	font-weight: 300;
}

#u253
{
	background: transparent url("../images/playstore.png") no-repeat center center;
	background-size: contain;
}

#u264
{
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
}

#u275,#u242
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
}

#u247-4,#u114-4
{
	font-family: open-sans, sans-serif;
	color: #FFFFFF;
	text-align: center;
	font-weight: 300;
	background-color: transparent;
}

@media (min-width: 875px)
{
	#u264
	{
		background-image: url("../images/app_store_badge.png");
	}

}

@media (min-width: 769px) and (max-width: 874px)
{
	#u264
	{
		background-image: url("../images/app_store_badge.png");
	}

}

@media (min-width: 715px) and (max-width: 768px)
{
	#u264
	{
		background-image: url("../images/app_store_badge.png");
	}

}

@media (min-width: 481px) and (max-width: 714px)
{
	#u264
	{
		background-image: url("../images/app_store_badge-u264-fr.png");
	}

}

@media (min-width: 321px) and (max-width: 480px)
{
	#u264
	{
		background-image: url("../images/app_store_badge.png");
	}

}

@media (max-width: 320px)
{
	#u264
	{
		background-image: url("../images/app_store_badge.png");
	}

}

